@using BExIS.Web.Shell.Areas.RBM.Models.Resource;
@using BExIS.Rbm.Entities.Resource;

@model ResourceGroupModel



<table id="resourceTable" class="display" width="100%">
    <thead>
        <tr>
            <th>
                Id
            </th>

            <th>
                Name
            </th>

            <th>
                ResourceStructureName
            </th>
            <th>
                Description
            </th>
            <th>
                Select
            </th>
            <th>
                Add
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllResources)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.ResourceStructureName</td>
                <td>@item.Description</td>
                <td>
                    <div id="checkboxes">
                        @Html.CheckBox("" + item.Id)
                    </div>

                </td>
                <td>
                    @Html.ActionLink(" ", "AddResourceToGroup", "ResourceGroup", new { setId = Model.Id, resourceId = item.Id }, new { @class = "bx bx-grid-function bx-add" })

                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<button name="AddResourcesToSet" onclick="addSelectedResources()">Add Resources to Set</button>

<script type="text/javascript">

    $(document).ready(function () {
        $('#resourceTable').DataTable();
    });

    function addSelectedResources() {
        var selected = [];
        $('#checkboxes input:checked').each(function () {
            selected.push($(this).attr('name'));
        });
        var selectedAsString = selected.toString();
        var setId = '@Model.Id';
        $.post('@Url.Action("AddResourcesToGroup", "ResourceGroup", new RouteValueDictionary { { "area", "RBM" } })', { setId: setId, resourceIds: selectedAsString }, function (data) {

            refreshGrid();
            var window = $('#Window_Creation').data('tWindow');
            window.close();
        });
    }

</script>