@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Resource;
@using BExIS.Rbm.Entities.Resource;
@model ResourceGroupModel

<span class="bx-button function" onclick="AddToSet()">AddToSet</span>
<br />
<br />
<table id="resourceTable" class="display" width="100%">
    <thead>
        <tr>
            <th>
                Id
            </th>

            <th>
                Name
            </th>
            <th>
                ResourceStructureName
            </th>
            <th>
                Description
            </th>
           
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Resources)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.ResourceStructureName</td>
                <td>@item.Description</td>
                <td>
                    @Html.ActionLink(" ", "RemoveResourceFromGroup", "ResourceGroup", new { setId = Model.Id, resourceId = item.Id }, new { @class = "bx bx-grid-function bx-trash", onclick = "return confirm('Are you sure you want to delete the Resource from this group" + "?')" })

                </td>
            </tr>
        }
    </tbody>
</table>

@(Html.Telerik().Window()
    .Name("Window_Creation")
    .Title("Add Resources to Group")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .Width(1100)
    .ContentHtmlAttributes(new { @style = "overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px" })
    .Content(@<text>
        <div id="Content_Creation"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Creation_OnClose")
    )
)


<script type="text/javascript">

    $(document).ready(function () {
        $('#resourceTable').DataTable();

    });

    function AddToSet() {

        var id = '@Model.Id';

        $.get('@Url.Action("ChooseResourceToGroup", "ResourceGroup", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {

            $('#Content_Creation').html(data);

            var window = $('#Window_Creation').data('tWindow');
            window.center().open();
        });
    }
</script> 