@using BExIS.Web.Shell.Areas.RBM.Models.Resource;
@model List<ResourceGroupManagerModel>

@Html.ActionLink("Create", "Create", "ResourceGroup", new { @class = "bx-button function" })
<br />
<br />

<table id="resourceGroupTable" class="display" width="100%">
    <thead>
        <tr>
            <th>
                Id
            </th>

            <th>
                Name
            </th>

            <th>
                ClassifierMode
            </th>
            <th>
                Resources in Group
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.ClassifierMode</td>
                <td>
                    @{string temp = String.Join(",", item.ResoureNames);
                    }
                    @temp
                </td>
                <td>
                    <div class="t-button t-button-icontext t-button-bare">
                        @Html.ActionLink(" ", "Edit", "ResourceGroup", new { id = item.Id }, new { @class = "bx bx-grid-function bx-edit" })
                        @Html.ActionLink(" ", "Delete", "ResourceGroup", new { id = item.Id }, new { @class = "bx bx-grid-function bx-trash", onclick = "return confirm('Are you sure you want to delete the Resource Group" + "?')" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('#resourceGroupTable').DataTable();

    });

</script>