@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Booking;

@model List<PersonInSchedule>

<div>

    <br />
    <table id="choose_user" class="display" style="width:100%">
        <thead>
            <tr>
                <th title="Name">Name</th>
                <th title="">Select</th>
                <th title="Is Contact">Contact</th>
               
            </tr>
        </thead>
        <tbody>


            @foreach (var m in Model)
            {
            <tr>
                <td scheduleIndex="@m.Index">@m.UserFullName</td>
                <td>
                    @Html.CheckBox("selected_userId_" + m.UserId, m.IsSelected, new { id = @m.UserId, index = @m.Index, OnChange = "changeUserSelection(this)" })
                </td>
                <td>
                    @Html.RadioButton("contact", @m.UserId, m.IsContactPerson, new { id = @m.UserId, index = @m.Index, OnChange = "changeContactPerson(this)" })
                </td>
            </tr>
            }
        </tbody>

    </table>





    <div class="bx-rpm-submit bx-rpm-buttons">
        <button class="bx-button action" name="AddUsersToSchedule" onclick="addSelectedUsers()">Add</button>
    </div>
</div>

<script type="text/javascript">

     $(document).ready(function () {

        jQuery.fn.dataTable.render.ellipsis = function ( cutoff, wordbreak, escapeHtml ) 
         {
    var esc = function ( t ) {
        return t
            .replace( /&/g, '&amp;' )
            .replace( /</g, '&lt;' )
            .replace( />/g, '&gt;' )
            .replace( /"/g, '&quot;' );
    };

    return function ( d, type, row ) {
        // Order, search and type get the original data
        if ( type !== 'display' ) {
            return d;
        }

        if ( typeof d !== 'number' && typeof d !== 'string' ) {
            return d;
        }

        d = d.toString(); // cast numbers

        if ( d.length <= cutoff ) {
            return d;
        }

        
    return d;
    // remove HTML check to allow checkbox and radio button
    /*   var shortened = d.substr(0, cutoff-1);

        // Find the last white space character in the string
        if ( wordbreak ) {
            shortened = shortened.replace(/\s([^\s]*)$/, '');
         }

        // Protect against uncontrolled HTML input
       if ( escapeHtml ) {
            shortened = esc( shortened );
       }

       return '<span class="ellipsis" title="'+esc(d)+'">'+shortened+'&#8230;</span>';
    */
    };
};

    $("#choose_user").DataTable({
                "autoWidth": false,
                ordering: true,
                order: [[ 0, "asc" ]], // order by name
                paging: false,
                responsive: true,
                columnDefs: [
                {
                    targets: 1,
                     render: $.fn.dataTable.render.ellipsis( 60, true )
                }]
    });

    });
    

    function addSelectedUsers() {

        var index = $("td[scheduleIndex]:first").attr("scheduleIndex");
        $.post('@Url.Action("AddUsersToSchedule", "Schedule", new RouteValueDictionary { { "area", "RBM" } })', {scheduleIndex: index }, function (data) {
            $("#users_"+index).html(data)
            Window_Choose_OnClose();
        });
    }

    function changeUserSelection(e) {

        var userId = e.id;
        var selected = "";
        var index = $(e).attr("index");

        if ($(e).is(':checked')) {
            selected = "true";
        }
        else {
            selected = "false";
        }

        $.get('@Url.Action("ChangeSelectedUser", "Schedule")', { userId: userId, selected: selected, index: index }, function (data) {
        });
    }

    function changeContactPerson(e) {
        var userId = e.id;
        var index = $(e).attr("index");
        //check is user selected, onlay if selected the contact can be set
        if ($("input[name^='selected_userId_" + userId + "']").is(':checked')) {
            $.get('@Url.Action("ChangeContactPerson", "Schedule")', { userId: userId, index:index }, function (data) {
            });
        }
        else {
            alert("Please select the person first!");
            $(e).attr('checked', false);
        }
    }


    function Window_Choose_OnClose() {

        $('#Content_ChooseUsers').empty();
        var window = $('#Window_ChooseUsers').data('tWindow');
        window.close();
    }

</script>