@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Booking;

@model List<ActivityEventModel>

@section scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
}

<div>
    <br />
    <table id="activitiesTable" class="display" width="100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Action
                </th>
                <th style="display: none;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        <div id="checkboxesUserSelect">
                            @Html.CheckBox("selected_activity_" + item.Id, item.IsSelected, new { id = @item.Id, index = @item.Index, OnChange = "changeActivitySelection(this)" })
                        </div>
                    </td>
                    <td style="display: none;" name="scheduleIndex">@item.Index</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="bx-rpm-submit bx-rpm-buttons">
        <button class="bx-button action" name="AddUsersToSchedule" onclick="addSelectedActivities()">Add activities to schedule</button>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $('#activitiesTable').dataTable({
            "paging": false
        });
    });

    function addSelectedActivities() {

        var index = $("td[name=scheduleIndex]:first").text();

        $.post('@Url.Action("AddActivitiesToSchedule", "Schedule", new RouteValueDictionary { { "area", "RBM" } })', {scheduleIndex: index }, function (data) {
            $("#activities_"+index).html(data)
            Window_Choose_OnClose();
        });
    }

    function changeActivitySelection(e) {

        var activityId = e.id;
        var selected = "";
        var index = $(e).attr("index");

        if ($(e).is(':checked')) {
            selected = "true";
        }
        else {
            selected = "false";
        }

        $.get('@Url.Action("ChangeSelectedActivity", "Schedule")', { activityId: activityId, selected: selected, index: index }, function (data) {
        });
    }

    function Window_Choose_OnClose() {

        $('#Content_ChooseActivities').empty();
        var window = $('#Window_ChooseActivities').data('tWindow');
        window.close();
    }

</script>
