@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Booking;

@model List<SelectResourceForEventModel>

@{
    GridPagerStyles pagerStyles = GridPagerStyles.PageSizeDropDown;
    pagerStyles |= GridPagerStyles.NextPreviousAndDropDown;
}

<div>
@(Html.Telerik().Grid(Model)
        .Name("Grid_Resource")
        .NoRecordsTemplate("No results.")
        .HtmlAttributes(new { style = "height:100% !important;" })
        .DataKeys(keys =>
        {
            keys.Add(r => r.Id);
        })
        .Columns(columns =>
        {
           
        columns.Bound(r => r.Name);
        columns.Bound(r => r.ResourceQuantity).Width("10%").Filterable(false).Title("Max.");
        columns.Template(
                @<text>
                                <span title="Select resource"class="bx bx-next bx-button function small" onclick="addResourceToCart('' + @item.Id + '')"/>
                                <button type="button" title="Show more details" class="bx-function bx-info fa fa-info" onclick="OnClickShowDetails('' + @item.Id + '')"/>
                </text>
                            ).Title(" ")
                             .ClientTemplate(" <span title = \"Select resource\" class=\"bx bx-next bx-button function small\" onclick=\"addResourceToCart(\'\' + <#= Id #> + \'\')\"/>"
                                + "<button type = \"button\" title=\"Show more details\" class=\"bx-function bx-info fa fa-info\" onclick=\"OnClickShowDetails(\'\' + <#= Id #> + \'\')\"/>"
            )



        .Width(70)
        .Title(" ");
            //columns.Bound(r => r.AvailableQuantity).Width(30);
            //columns.Bound(r => r.Description).Width(80);


        })
                                .ClientEvents(clientEvents => clientEvents
                                  .OnDataBound("onDataBound")
                                )
                                        .DataBinding(dataBinding => dataBinding
                                            .Ajax()

                                            .OperationMode(GridOperationMode.Client)
                                        )
                                .Filterable()
                                .Sortable()

                                )
                                <br />

</div>

@(Html.Telerik().Window()
    .Name("Window_Details")
    .Title("Resource Details")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style = "overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px" })
    .Content(@<text>
        <div id="Content_Show"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Details_OnClose")
    )
)




<script type="text/javascript">

    function onDataBound() {
        resetAllTelerikIconTitles();
        addTooltips();
    }

    $(document).ready(function () {
        refreshGrid();
        resetAllTelerikIconTitles();
        addTooltips();

    });

    function OnClickShowDetails(id)
    {
        $.get('@Url.Action("ShowDetails", "Resource", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {

            $('#Content_Show').html(data);
            var window = $('#Window_Details').data('tWindow');
            window.center().open();
            
        });
    }

    function Window_Details_OnClose() {
        $('#Content_Show').empty();
    }

    function addResourceToCart(id) {

         $.post('@Url.Action("AddResourceToCart", "Schedule", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {
            if (id == "") {
                $('#Content_Resources').html(data)
            }
            else {
                $('#Content_Schedules').html(data);
                //deselect checkboxes
                //$(".selectResource").each(function () {
                //    this.checked = false;
                //})
            }
        });
    }

    function addResourcesToCart(id) {

        var selectedResources = [];

        $('#checkboxesResources input:checked').each(function () {
            selectedResources.push($(this).attr('name'));
        });

        var selectedResourcesAsString = selectedResources.toString();

        $.post('@Url.Action("AddResourceToCart", "Schedule", new RouteValueDictionary { { "area", "RBM" } })', { resources: selectedResourcesAsString }, function (data) {
            if (selectedResourcesAsString == "") {
                $('#Content_Resources').html(data);
            }
            else {
                $('#Content_Schedules').html(data)
                //deselect checkboxes
                $(".selectResource").each(function () {
                    this.checked = false;
                })
            }
        });
    }






















  @*  $(".selectResource").change(function () {
        var status = "";

        if ($(this).is(':checked')) {

            status = "checked";
        }
        else {
            status = "unchecked";
        }

        var selectedId = $(this).attr('name');
        var startdate = $("#start_" + $(this).attr('name')).attr('value');
        var enddate = $("#end_" + $(this).attr('name')).attr('value');

        $.post('@Url.Action("TempSelectedResources", "Schedule", new RouteValueDictionary { { "area", "RBM" } })', { selectedId: selectedId, startdate: startdate, enddate: enddate, status: status }, function (data) {
            //window.location.href = 'Schedule';
        });
    });*@

    function refreshGrid() {
        $(".t-grid .t-refresh").trigger('click');
    }



   </script>