@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Booking;

@model List<SelectResourceForEventModel>

@{
    GridPagerStyles pagerStyles = GridPagerStyles.PageSizeDropDown;
    pagerStyles |= GridPagerStyles.NextPreviousAndDropDown;
}

<div>
<div id="addToEvent" name="Add" class="bx-button function" title="Add selected resources to cart" onclick="addResourcesToCart()">Add to Event</div> <small>@Html.ValidationMessage("ResourceList")</small>
@(Html.Telerik().Grid(Model)
        .Name("Grid_Resource")
        .HtmlAttributes(new { style = "height:100% !important;" })
        .DataKeys(keys =>
        {
            keys.Add(r => r.Id);
        })
        .Columns(columns =>
        {
            columns.Template(
                       @<text>
                                <div id="checkboxesResources">
                                    @Html.CheckBox("" + item.Id, (new { @class = "selectResource" }))
                                </div>
                         </text>
                      ).Title("Select")
                      .ClientTemplate(
                            "<div id =\"checkboxesResources\" >" +
                            "<input class=\"selectResource\" type=\"checkbox\" name=\"<#= Id #>\"></input>" +
                            "</div>"
                      ).Width(70);
        columns.Bound(r => r.Name);
        columns.Bound(r => r.ResourceQuantity);
        columns.Template(
                @<text>
                        <span class = "bx bx-grid-function bx-show"  onclick = "OnClickShowDetails('' + @item.Id + '')" ></span>
                </text>
            )
            .Width(70)
            .Title(" ");
            //columns.Bound(r => r.AvailableQuantity).Width(30);
            //columns.Bound(r => r.Description).Width(80);


        })
        .ClientEvents(clientEvents => clientEvents
          .OnDataBound("onDataBound")
        )
                .DataBinding(dataBinding => dataBinding
                    .Ajax()
                    .Select("Resource_Select", "Resource")
                    .OperationMode(GridOperationMode.Client)
                )
        .Filterable()
        .Sortable()
        .Pageable(paging =>
                paging
                    .Style(pagerStyles)
                    .PageSize(15)
                    .Position(GridPagerPosition.Top)

                    )
)
    <br />
    
</div>

@(Html.Telerik().Window()
    .Name("Window_Details")
    .Title("Resource Details")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style = "overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px" })
    .Content(@<text>
        <div id="Content_Show"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Details_OnClose")
    )
)




<script type="text/javascript">

    function onDataBound() {
        resetAllTelerikIconTitles();
        addTooltips();
    }

    $(document).ready(function () {
        refreshGrid();
        resetAllTelerikIconTitles();
        addTooltips();

    });

    function OnClickShowDetails(id)
    {
        $.get('@Url.Action("ShowDetails", "Resource", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {

            $('#Content_Show').html(data);
            var window = $('#Window_Details').data('tWindow');
            window.center().open();
            
        });
    }

    function Window_Details_OnClose() {
        $('#Content_Show').empty();
    }

    function addResourcesToCart() {

        var selectedResources = [];

        $('#checkboxesResources input:checked').each(function () {
            selectedResources.push($(this).attr('name'));
        });

        var selectedResourcesAsString = selectedResources.toString();

        $.post('@Url.Action("AddResourceToCart", "Schedule", new RouteValueDictionary { { "area", "RBM" } })', { resources: selectedResourcesAsString }, function (data) {
            if (selectedResourcesAsString == "") {
                $('#Content_Resources').html(data);
            }
            else {
                $('#Content_Schedules').html(data)
                //deselect checkboxes
                $(".selectResource").each(function () {
                    this.checked = false;
                })
            }
        });
    }






















  @*  $(".selectResource").change(function () {
        var status = "";

        if ($(this).is(':checked')) {

            status = "checked";
        }
        else {
            status = "unchecked";
        }

        var selectedId = $(this).attr('name');
        var startdate = $("#start_" + $(this).attr('name')).attr('value');
        var enddate = $("#end_" + $(this).attr('name')).attr('value');

        $.post('@Url.Action("TempSelectedResources", "Schedule", new RouteValueDictionary { { "area", "RBM" } })', { selectedId: selectedId, startdate: startdate, enddate: enddate, status: status }, function (data) {
            //window.location.href = 'Schedule';
        });
    });*@

    function refreshGrid() {
        $(".t-grid .t-refresh").trigger('click');
    }



   </script>