@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Booking;

@model List<SelectResourceForEventModel>

@section scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
}

<div>
    <table id="resourcesTable" class="display" width="100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>

                <th>
                    Max
                </th>              
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.ResourceQuantity</td>
                    <td>
                        <span title="Select resource" class="bx bx-next bx-button function small" onclick="addResourceToCart('' + @item.Id + '')" />
                        <button type="button" title="Show more details" class="bx-function bx-info fa fa-info" onclick="OnClickShowDetails('' + @item.Id + '')" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>

@(Html.Telerik().Window()
    .Name("Window_Details")
    .Title("Resource Details")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style = "overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px" })
    .Content(@<text>
        <div id="Content_Show"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Details_OnClose")
    )
)




<script type="text/javascript">

    function onDataBound() {
        resetAllTelerikIconTitles();
        addTooltips();
    }

    $(document).ready(function () {
        $('#resourcesTable').DataTable();

    });

    function OnClickShowDetails(id)
    {
        $.get('@Url.Action("ShowDetails", "Resource", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {

            $('#Content_Show').html(data);
            var window = $('#Window_Details').data('tWindow');
            window.center().open();

        });
    }

    function Window_Details_OnClose() {
        $('#Content_Show').empty();
    }

    function addResourceToCart(id) {

         $.post('@Url.Action("AddResourceToCart", "Schedule", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {
            if (id == "") {
                $('#Content_Resources').html(data)
            }
            else {
                $('#Content_Schedules').html(data);
                //deselect checkboxes
                //$(".selectResource").each(function () {
                //    this.checked = false;
                //})
            }
        });
    }

    function addResourcesToCart(id) {

        var selectedResources = [];

        $('#checkboxesResources input:checked').each(function () {
            selectedResources.push($(this).attr('name'));
        });

        var selectedResourcesAsString = selectedResources.toString();

        $.post('@Url.Action("AddResourceToCart", "Schedule", new RouteValueDictionary { { "area", "RBM" } })', { resources: selectedResourcesAsString }, function (data) {
            if (selectedResourcesAsString == "") {
                $('#Content_Resources').html(data);
            }
            else {
                $('#Content_Schedules').html(data)
                //deselect checkboxes
                $(".selectResource").each(function () {
                    this.checked = false;
                })
            }
        });
    }






















  @*  $(".selectResource").change(function () {
        var status = "";

        if ($(this).is(':checked')) {

            status = "checked";
        }
        else {
            status = "unchecked";
        }

        var selectedId = $(this).attr('name');
        var startdate = $("#start_" + $(this).attr('name')).attr('value');
        var enddate = $("#end_" + $(this).attr('name')).attr('value');

        $.post('@Url.Action("TempSelectedResources", "Schedule", new RouteValueDictionary { { "area", "RBM" } })', { selectedId: selectedId, startdate: startdate, enddate: enddate, status: status }, function (data) {
            //window.location.href = 'Schedule';
        });
    });*@

    function refreshGrid() {
        $(".t-grid .t-refresh").trigger('click');
    }



</script>