@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Booking;

@model List<ActivityEventModel>

@if (Model.Count()> 0)
{
  <ul id="userList">
    @for (int j = 0; j < Model.Count(); j++)
    {
      if(j<=1)
      {
         <li class="fullName" style="font-size:12px;">@Html.DisplayFor(m=>m[j].Name)
        @if (Model[j].EditMode && Model[j].EditAccess)
        {
         <span id="removeUser" style="font-size:10px;" class="bx bx-trash" onclick="RemoveActivityFromSchedule(@Model[j].Id, @Model[j].Index)"></span>
        }
         </li>
      }
      else
      {
         <li><a href="#" class="bx bx-link" onclick="ShowAllActivities(@Html.DisplayFor(m=>m[j].Index, @Model[j].Index))" >show all</a></li>
      }
    }

  </ul>
}
