@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Booking;
@using BExIS.Rbm.Entities.BookingManagementTime;

@model ScheduleDurationModel
<tr>
    <td style="width:200px;">@Html.LabelFor(m => m.StartDate)</td>
    <td>
        @if ((Model.EditMode && Model.EditAccess) || Model.EventId == 0)
        {
            if (Model.TimeUnit == SystemDefinedUnit.day || Model.TimeUnit == SystemDefinedUnit.month || Model.TimeUnit == SystemDefinedUnit.week || Model.TimeUnit == SystemDefinedUnit.year)
            {
                @Html.Telerik().DatePickerFor(m => m.StartDate).Name("Start_" + @Model.Index.ToString()).Value(Model.StartDate).ClientEvents(events => events.OnChange("onChangeControl")).Format("dd.MM.yyyy").HtmlAttributes(new { @style = "width: 150px" })
            }
            else
            {
                @Html.Telerik().DateTimePickerFor(m => m.StartDate).Name("Start_" + @Model.Index.ToString()).Value(Model.StartDate).ClientEvents(events => events.OnChange("onChangeControl"))
            }
        }
        else
        {
            if (Model.TimeUnit == SystemDefinedUnit.day || Model.TimeUnit == SystemDefinedUnit.month || Model.TimeUnit == SystemDefinedUnit.week || Model.TimeUnit == SystemDefinedUnit.year)
            {
                @Html.Telerik().DatePickerFor(m => m.StartDate).Name("Start_" + @Model.Index.ToString()).Value(Model.StartDate).Enable(false).Format("dd.MM.yyyy").HtmlAttributes(new { @style = "width: 150px" })

            }
            else
            {
                @Html.Telerik().DateTimePickerFor(m => m.StartDate).Name("Start_" + @Model.Index.ToString()).Value(Model.StartDate).Enable(false)
            }
        }

    </td>
</tr>
<tr>
    <td style="width:200px;">@Html.LabelFor(m => m.EndDate)</td>
    <td>
    @if ((Model.EditMode && Model.EditAccess) || Model.EventId == 0)
    {
        if (Model.TimeUnit == SystemDefinedUnit.day || Model.TimeUnit == SystemDefinedUnit.month || Model.TimeUnit == SystemDefinedUnit.week || Model.TimeUnit == SystemDefinedUnit.year)
        {
            @Html.Telerik().DatePickerFor(m => m.EndDate).Name("End_" + @Model.Index.ToString()).Value(Model.EndDate).ClientEvents(events => events.OnChange("onChangeControl")).Format("dd.MM.yyyy").HtmlAttributes(new { @style = "width: 150px" })

        }
        else
        {

            @Html.Telerik().DateTimePickerFor(m => m.EndDate).Name("End_" + @Model.Index.ToString()).Value(Model.EndDate).ClientEvents(events => events.OnChange("onChangeControl"))
        }
    }
    else
    {
        if (Model.TimeUnit == SystemDefinedUnit.day || Model.TimeUnit == SystemDefinedUnit.month || Model.TimeUnit == SystemDefinedUnit.week || Model.TimeUnit == SystemDefinedUnit.year)
        {
            @Html.Telerik().DatePickerFor(m => m.EndDate).Name("End_" + @Model.Index.ToString()).Value(Model.EndDate).Enable(false).Format("dd.MM.yyyy").HtmlAttributes(new { @style = "width: 150px" })
        }
        else
        {
            @Html.Telerik().DateTimePickerFor(m => m.EndDate).Name("End_" + @Model.Index.ToString()).Value(Model.EndDate).Enable(false)
        }

    }
    </td>
</tr>


<script type="text/javascript">

    $(document).ready(function () {
            resetAllTelerikIconTitles();
            addTooltips();
        })
</script>