@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Booking;

@model List<BookingEventModel>


@if (ViewBag.history == "true")
{
    <div id="history_yes" class="btn btn-default history_list_booking">Show without history</div>
    <div id="history_no" style="display:none" class="btn btn-default history_list_booking">Show with history</div>
}
else
{
    <div id="history_yes" style="display:none" class="btn btn-default history_list_booking">Show without history</div>
    <div id="history_no" class="btn btn-default history_list_booking">Show with history</div>
}


<table id="booking_table" class="display contenttable" data-date-column-start="2" data-date-column-end="3" style="width:100%">
    <thead>
        <tr>
            <th title="Name">Name</th>
            <th title="Description">Description</th>
            <th title="Start date">Start date</th>
            <th title="End date">End date</th>
            <th title="Exploratory">Exploratory</th>
            <th title="Resource(s)">Resource(s)</th>

        </tr>
    </thead>
    <tbody>


        @foreach (var m in Model)
        {
            <tr>
                <td><a href="../../RBM/Schedule/Show/@m.Id">@m.Name</a></td>
                <td>@m.Description</td>
                <td>@m.startDate.ToString("dd.MM.yyyy")</td>
                <td>@m.endDate.ToString("dd.MM.yyyy")</td>
                <td>@m.ResourceAttributes</td>
                <td>@m.ResourceName</td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">

    $(document).ready(function () {

             $('.history_list_booking').on('click', function () {
            var history = false;
           console.log("click history");
            if ($("#history_yes").is(":visible")) {  
            }
            else {
                history = true; 
                
            }

            var myBooking = false;
            if ($('#MyBookings').is(':checked')) {
                myBooking = true;
            }

            var contentView = $('#contentView .active').find('input').val();


            if (contentView == "Events") {
                $.get('@Url.Action("GetEventsAsList", "Calendar", new RouteValueDictionary { { "area", "RBM"} })', { myBookings: myBooking, history: history }, function (data) {
                    $('#eventList').html(data);
                });
            }
            else { 
                $.get('@Url.Action("GetSchedulesAsList", "Calendar", new RouteValueDictionary { { "area", "RBM"} })', { myBookings: myBooking, history: history}, function (data) {
                $('#scheduleList').html(data);
            });
            }

        });    


jQuery.fn.dataTable.render.ellipsis = function ( cutoff, wordbreak, escapeHtml ) {
    var esc = function ( t ) {
        return t
            .replace( /&/g, '&amp;' )
            .replace( /</g, '&lt;' )
            .replace( />/g, '&gt;' )
            .replace( /"/g, '&quot;' );
    };

    return function ( d, type, row ) {
        // Order, search and type get the original data
        if ( type !== 'display' ) {
            return d;
        }

        if ( typeof d !== 'number' && typeof d !== 'string' ) {
            return d;
        }

        d = d.toString(); // cast numbers

        if ( d.length <= cutoff ) {
            return d;
        }

        var shortened = d.substr(0, cutoff-1);

        // Find the last white space character in the string
        if ( wordbreak ) {
            shortened = shortened.replace(/\s([^\s]*)$/, '');
        }

        // Protect against uncontrolled HTML input
        if ( escapeHtml ) {
            shortened = esc( shortened );
        }

        return '<span class="ellipsis" title="'+esc(d)+'">'+shortened+'&#8230;</span>';
    };
};
      
        $("#datepicker_from").datepicker({
            showOn: "button",
            firstDay: 1,
            buttonText: "<i class='fa fa-calendar'></i>",
            "onSelect": function (date) {
                minDateFilter = new Date(date).getTime();
                bookingTable.draw();
            }
        }).keyup(function () {
            minDateFilter = new Date(this.value).getTime();
            bookingTable.draw();
        }).next('button').button({
            icons: {
                primary: 'ui-icon-calendar'
            }, text: false
        });

        $("#datepicker_to").datepicker({
            showOn: "button",
            firstDay: 1,
            buttonText: "<i class='fa fa-calendar'></i>",
            "onSelect": function (date) {
                maxDateFilter = new Date(date).getTime();
                bookingTable.draw();
            }
        }).keyup(function () {
            maxDateFilter = new Date(this.value).getTime();
            bookingTable.draw();
        });


        var bookingTable = $("#booking_table").DataTable({
            "autoWidth": false,
            ordering: true,
            order: [[2, "asc"]], // order by startDate
            paging: false,
            responsive: true,
            "columns": [
                { "width": "30%" },
                { "width": "40%" },
                null,
                null,
                null,
                null

            ],
            columnDefs: [
                {
                    targets: 1,
                    render: $.fn.dataTable.render.ellipsis(60, true)
                }]
        });

  
    });

</script>
<style>
    .ui-datepicker-trigger {
        border: none;
        background: none;
        color: black;
    }
</style>