@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.ResourceStructure;

@model List<ResourceStructureAttributeModel>



<table id="rsaTable" class="display" width="100%">
    <thead>
        <tr>
            <th>
                Attribute Id
            </th>

            <th>
                Attribute Name
            </th>

            <th>
                Attribute Description
            </th>
            <th>
                Select
            </th>
            <th>
                Add
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AttributeId
                <p name="rsId" hidden>@item.rsID</p></td>
                <td>@item.AttributeName</td>
                <td>@item.AttributeDescription</td>
                <td>
                    @Html.CheckBox("<#= AttributeId #>", new { id = "AttributeId" }).ToHtmlString()
                </td>
                <td>
                    @Html.ActionLink(" ", "AddResourceAttributeUsage", "ResourceStructure", new { rsId = "<#= rsID #>", rsaId = "<#= AttributeId #>" }, new { @class = "bx bx-grid-function bx-add" }).ToHtmlString()

                </td>
            </tr>
        }
    </tbody>
</table>


<div class="bx-rpm-submit bx-rpm-buttons">
    <button name="AddResourcesToSet" class="t-button action" onclick="addSelectedResources()">Add attributes to structure</button>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#rsaTable').DataTable();

    });

    function addSelectedResources() {

        var selected = [];
        $('input:checkbox[id^="AttributeId"]:checked').each(function () {
            selected.push($(this).attr('name'));
        });
        var selectedAsString = selected.toString();
        var rsId = $('td[name=rsId]').html();
        $.post('@Url.Action("AddResourceAttributeUsages", "ResourceStructure", new RouteValueDictionary { { "area", "RBM" } })', { rsId: rsId, rsaIds: selectedAsString }, function (data) {
            Window_Creation_OnClose();
        });
    }

    function Window_Creation_OnClose() {

        $('#Content_Choose').empty();
        var window = $('#Window_Choose').data('tWindow');
        window.close();
        refreshGrid();
    }

</script>