@using BExIS.Web.Shell.Areas.RBM.Models.ResourceStructure;

@model List<ResourceStructureParentChoosingModel>

@{
    ViewBag.Title = "ResourceStructureManager";
}

<table id="rspTable" class="display" width="100%">
    <thead>
        <tr>
            <th>
                ParentId
            </th>

            <th>
                Name
            </th>

            <th>
                Description
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ParentId</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    @if (!item.Locked)
                    {
                        <div class="t-button t-button-icontext t-button-bare">
                            @Html.ActionLink(" ", "AddParent", "ResourceStructure", new { id = item.RsId, parentId = item.ParentId }, new { @class = "bx bx-grid-function bx-add" })
                        </div>
                    }
                    else
                    {
                        <div class="locked">locked</div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('#rspTable').DataTable();

    });

    function OnClickAdd(id, parentId) {

    $.get('@Url.Action("AddParent", "ResourceStructure", new RouteValueDictionary { { "area", "RBM"} })', { id: id, parentId: parentId }, function (data) {
        if (window.location.href.search("Create") != -1)
        {
            window.location.href = 'Edit/' + id;
        }
        else
        {
           window.location.href = id;
        }

        });
}

</script>