@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.ResourceStructure;

@section Information
{
    With this interface you are able to edit resource structure and manager there resource structure attributes and parent resoure structure.
    <p>
        <a href="/RBM/Help/Index/#_Toc434570750" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}

@model ResourceStructureModel

     @using (Html.BeginForm("EditResourceStructure", "ResourceStructure", new { area = "RBM" }))
     {
         <table class="bx-table-form" style="width: 500px;">
             <tr>
             <td>@Html.LabelFor(m => m.Id)</td>
             <td>@Html.DisplayFor(m => m.Id)
                 @Html.HiddenFor(m => m.Id)</td>
            </tr>
            <tr>
             <td>@Html.LabelFor(m => m.Name)<span class="bx bx-required" title="Required"></span></td>
             <td>@Html.TextBoxFor(m => m.Name, new {@class = "bx-input", @tabindex = "2"})
                 <small>@Html.ValidationMessage("NameExist")</small>
             </td>
            </tr>
             <tr>
                 <td>@Html.LabelFor(m => m.Description)</td>
                 <td>@Html.TextAreaFor(m => m.Description, new {@class = "bx-input", @tabindex = "2"})</td>
             </tr>
             <tr>
                 <td><b>Parent</b></td>
                 <td><a  class="bx-button function" title="Add parent resource structure" onclick="AddParent(this)">Add</a><br />
                 @if (Model.Parent != null)
                  {
                        <div class="editor-label">
                         @Html.DisplayFor(m => m.Parent.Name) @Html.ActionLink(" ", "RemoveParent", "ResourceStructure", new{id = Model.Id}, new { @class="bx bx-trash"})
                        </div>
                 }</td>
             </tr>
</table>
         <hr />
              @Html.Partial("_showResourceStructureAttributes", Model)

         <div class="bx-footer right">
            <button name="create" type="submit" class="bx-button action" title="Save Resource Structure">Save</button>
            @Html.ActionLink("Cancel", "ResourceStructure", "ResourceStructure", new { area = "RBM", @class = "t-button action", @title = "Cancel", @tabindex = "5" })
         </div>
             @Html.ValidationSummary("Errors")

     }


@(Html.Telerik().Window()
    .Name("Window_Add")
    .Title("Add Parent")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .Width(900)
    .ContentHtmlAttributes(new { @style = "overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px" })
    .Content(@<text>
                <div id="Content_Creation"></div>
            </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Creation_OnClose")
    ))

    
    <script type="text/javascript">

        $(document).ready(function () {
            resetAllTelerikIconTitles();
            addTooltips();
        });

        function AddParent(e) {

            var rsId = '@Model.Id';

            $.get('@Url.Action("ChooseParentResourceStructure", "ResourceStructure", new RouteValueDictionary { { "area", "RBM"} })', { id: rsId }, function (data) {
                $('#Window_Add #Content_Creation').html(data);
                var window = $('#Window_Add').data('tWindow');
                window.center().open();
            });
    }

    function Window_Creation_OnClose() {

        $('#Content_Creation').empty();
        refreshGrid();
    }

    function refreshGrid() {
        $(".t-grid .t-refresh").trigger('click');
    }


</script> 