@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.ResourceStructure;

@model List<ResourceStructureAttributeModel>

@section Information
{
    With this interface you are able to manage (e.g. create, edit, delete) resource structure attributes. Resource structures attributes cannot be edited or deleted once they are associated with a resource structure (they become locked).
    <p>
        <a href="/RBM/Help/Index/#_Toc434570750" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}

<link href="@Url.Content("~/Areas/RBM/Stylesheets/RBM.css")" rel="stylesheet" type="text/css" />
<span class="bx-button function" onclick="Create()" title="Create a new Resource Structures Attribute">Create Resource Structures Attribute</span>
<br />
<br />

<table id="resourcesStructAttTable" class="display" width="100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AttributeId</td>
                <td>@item.AttributeName</td>
                <td>@item.AttributeDescription</td>
                <td>
                    @if (!item.InUse)
                    {
                      
                            if (item.EditAccess)
                            {
                                <div class="bx bx-grid-function bx-edit" onclick="OnClickEdit('' + @item.AttributeId + '')" title='Edit Unit "@item.AttributeName"'></div>
                            }
                            else
                            {
                                <div class="bx bx-grid-function bx-edit bx-disabled" disabled="disabled" title='Edit Attribute "@item.AttributeName"'></div>
                            }
                            if (item.DeleteAccess)
                            {
                                <div class="bx bx-grid-function bx-trash" onclick="OnClickDelete('' + @item.AttributeId + '')" title='Delete Attribute "@item.AttributeName"'></div>
                            }
                            else
                            {
                                <div class="bx bx-grid-function bx-trash bx-disabled" disabled="disabled" title='Delete Attribute "@item.AttributeName"'></div>
                            }
                    }
                    else
                    {
                        <div>
                            <div class="bx bx-grid-function bx-edit bx-disabled" disabled="disabled" title='Edit Unit "@item.AttributeName"'></div>
                            <div class="bx bx-grid-function bx-trash bx-disabled" disabled="disabled" title='Delete Unit "@item.AttributeName"'></div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@(Html.Telerik().Window()
    .Name("Window_Creation")
    .Title("Create Resource Structure Attribute")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style = "overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px" })
    .Content(@<text>
        <div id="Content_Creation"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Creation_OnClose")
    )
)
@(Html.Telerik().Window()
    .Name("Window_Edit")
    .Title("Edit")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style = "overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px" })
    .Content(@<text>
        <div id="Content_Edit"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Details_OnClose")
    )
)


<script type="text/javascript">

    $(document).ready(function () {
        $('#resourcesStructAttTable').DataTable();

    });
    function Create() {
        $.get('@Url.Action("CreateResourceStructureAttributeWithoutUsage", "ResourceStructure", new RouteValueDictionary { { "area", "RBM" } })', function (data) {

            $('#Content_Creation').html(data);

            var window = $('#Window_Creation').data('tWindow');
            window.center().open();
        });
    }

    function OnClickEdit(id) {

        $.get('@Url.Action("OpenEditResourceStructureAttribute", "ResourceStructure", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {
            $('#Content_Edit').html(data);

            var window1 = $('#Window_Edit').data('tWindow');
            window1.center().open();
        });
    }

    function OnClickDelete(id) {
        confirm("Are you sure you want to delete the Resource Structure Attribute");
        $.get('@Url.Action("DeleteResourceStructureAttribute", "ResourceStructure", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {

        refreshGrid();
        });
    }

    function Window_Creation_OnClose() {

        $('#Content_Creation').empty();
        refreshGrid();
    }

    function Window_Details_OnClose() {
        $('#Content_Creation').empty();
        refreshGrid();
    }

    function attributeCreate_onSuccess(data) {
        if (data.success) {
            $('#Window_Creation').data('tWindow').close();
            $('#Window_Edit').data('tWindow').close();
        }
        else
        {
            $('#Content_Creation').html(data);
            var window = $('#Window_Creation').data('tWindow');
            window.center().open();
        }
    }

</script>