@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.ResourceStructure;

@model List<ResourceStructureManagerModel>

@section Information
{
    With this interface you are able to manage (e.g. create, edit, delete) resource structures. Resource structures cannot be edited or deleted once they are associated with a resource (they become locked).
    <p>
        <a href="/RBM/Help/Index/#_Toc434570750" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}

<link href="@Url.Content("~/Areas/RBM/Stylesheets/RBM.css")" rel="stylesheet" type="text/css" />
@Html.ActionLink("Create Resource Structure", "Create", "ResourceStructure", new { @class = "bx-button function", title = "Create a new Resource Structure" })
<br /><br />
<table id="resourcesStructureTable" class="display" width="100%">
    <thead>
        <tr>
            <th>
                Id
            </th>

            <th>
                Name
            </th>
            <th>
                Parent
            </th>
            <th>
                Description
            </th>
            <th>
                Associated Resource Structure Attributes
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Parent</td>
                <td>@item.Description</td>
                <td>
                    @{string temp = String.Join(",", item.ResourceStructureAttributesNames);
                    }
                    @temp
                </td>
                <td>
                    @if (item.InUse)
                    {
                        <div class="bx bx-grid-function bx-edit bx-disabled" disabled="disabled" title='Edit "@item..Name"'></div>
                        <div class="bx bx-grid-function bx-trash bx-disabled" disabled="disabled" title='Delete  "@item.Name"'></div>
                    }
                    else
                    {
                        <div class="bx bx-grid-function bx-edit" onclick="OnClickEdit('' + @item.Id + '')" title='Edit "@item..Name"'></div>
                        <div class="bx bx-grid-function bx-trash" onclick="OnClickDelete('' + @item.Id + '')" title='Delete "@item.Name"'></div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">

    $(document).ready(function () {
        $('#resourcesStructureTable').DataTable();

    });

    function onConfirm(id)
    {
        if (confirm("Are you sure you want to delete the Resource Structure?")) {
            OnClickDelete(id);
        }
        else
        {
            return false;
        }
    }

    function OnClickEdit(id) {

        $.get('@Url.Action("Edit", "ResourceStructure", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {
            window.location.href = 'Edit/' + id;
            });
        }

    function OnClickDelete(id) {
        $.get('@Url.Action("Delete", "ResourceStructure", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {

        });
    }


</script>