@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Booking;

@model ActivityModel

@Html.ValidationSummary(true)
@using (Ajax.BeginForm("Create", "Activity", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "activityEdit", OnSuccess = "activityCreate_onSuccess" }))
{
    <div id="activityEdit">
        <table class="bx-table-form" style="width: 500px;">
            <tr>
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>
                    @Html.TextBoxFor(m => m.Name, new { @class = "bx-input", @tabindex = "2" })
                    @Html.ValidationMessageFor(m => m.Name)<br />
                    <small>@Html.ValidationMessage("NameExist")</small>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Description)</td>
                <td>@Html.TextAreaFor(m => m.Description, new { @class = "bx-input", @tabindex = "2" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Disable)</td>
                <td>@Html.CheckBoxFor(m => m.Disable, new { title= "Disable if this activity is not available for booking" })</td>
            </tr>
        </table>
        <br /><br />

        <div class="bx-footer right">
            <button name="create" type="submit" class="t-button action" title="Save Activity">Save</button>
            <button style="margin-left: 1px" type="button" onclick="OnCancel_WindowCreate()" class="bx-button action">Cancel</button>
        </div><br />
    </div>

}


<script type="text/javascript">
    function OnCancel_WindowCreate() {
        $('#Window_Creation').data('tWindow').close();
    }
</script>

    