@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Booking;

@model List<ActivityModel>

@section Information
{
    With this interface you are able to manage (e.g. create, edit, delete) activities.
    <p>
        <a href="/RBM/Help/Index/#_Toc434570750" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}

<span class="bx-button function" onclick="Create()">Create New</span>
<br />
<br />

<table id="activitiesTable" class="display" width="100%">
    <thead>
        <tr>
            <th>
                Id
            </th>

            <th>
                Name
            </th>

            <th>
                Description
            </th>
            <th>
                Disable
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Disable</td>
                <td>
                    @if (item.InUse)
                    {
                        <div class="bx bx-grid-function bx-edit bx-disabled" disabled="disabled" title='Edit  "@item.Name"'></div>
                        <div class="bx bx-grid-function bx-trash bx-disabled" disabled="disabled" title='Delete  "@item.Name"'></div>
                    }
                    else
                    {
                        <div class="bx bx-grid-function bx-edit" onclick="OnClickEdit('' + @item.Id + '')"  title='Edit Unit "@item.Name"'></div>
                        <div class="bx bx-grid-function bx-trash" onclick="OnClickDelete('' + @item.Id + '')" title='Delete Unit "@item.Name"'></div>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>



@(Html.Telerik().Window()
    .Name("Window_Creation")
    .Title("Create Activity")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style = "overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px" })
    .Content(@<text>
        <div id="Content_Creation"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Creation_OnClose")
    )
)
@(Html.Telerik().Window()
    .Name("Window_Edit")
    .Title("Edit Activity")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style = "overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px" })
    .Content(@<text>
        <div id="Content_Edit"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Details_OnClose")
    )
)




<script type="text/javascript">

    $(document).ready(function () {
        $('#activitiesTable').DataTable();

    });
        
    function Create() {

        $.get('@Url.Action("CreateActivity", "Activity", new RouteValueDictionary { { "area", "RBM" } })', function (data) {

            $('#Content_Creation').html(data);

            var window = $('#Window_Creation').data('tWindow');
            window.center().open();
        });

    }
  
    function Window_Creation_OnClose() {

        $('#Content_Creation').empty();
    }

    function Window_Details_OnClose() {
        $('#Content_Creation').empty();
    }


    function OnClickEdit(id) {

        $.get('@Url.Action("Edit", "Activity", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {
            $('#Content_Edit').html(data);

            var window1 = $('#Window_Edit').data('tWindow');
            window1.center().open();
        });
    }

    function onConfirm(id) {
        if (confirm("Are you sure you want to delete the Resource?")) {
            OnClickDelete(id);
        }
        else {
            return false;
        }
    }

    function OnClickDelete(id) {
        $.get('@Url.Action("Delete", "Activity", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {
        });
    }

    function activityCreate_onSuccess(data) {
        if (data.success) {
            $('#Window_Creation').data('tWindow').close();
        }
    }

    function activityEdit_onSuccess(data) {
        if (data.success) {
            $('#Window_Edit').data('tWindow').close();
        }
    }

</script>