@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Resource;

@model List<ResourceManagerModel>

@(Html.Telerik().Grid(Model)
        .Name("Grid_Resources")
        .HtmlAttributes(new { style = "width:700px" })
        .DataKeys(keys =>
        {
            keys.Add(r => r.Id);
        })
       
        .Columns(columns =>
        {
            //columns.Bound(r => r.Id).Width(50);
            columns.Bound(r => r.Name);
            columns.Bound(r => r.Description);
            columns.Template(
                        @<text>
                                
                                    <span id="chooseResource" class="bx bx-grid-function bx-add" onclick="ChooseResource(@item.Id, '@item.Name', '@item.Index')"></span>
                                   @* @Html.ActionLink("ChooseResource", "ChooseResource", "Resource", new { id = item.Id}, new { @class = "t-icon t-add" })*@
                        </text>
                        ).Title("Choose");
        })
        .ClientEvents(clientEvents => clientEvents
            .OnDataBound("onDataBound")
        )
                    .Filterable()
                    .Sortable(sortable => sortable
                        .OrderBy(orderby => orderby
                            .Add(r => r.Id).Descending()))
                    //.Scrollable()
                    .Pageable()
                    
                                  )

<script type="text/javascript">

    function onDataBound() {
        resetAllTelerikIconTitles();
        addTooltips();
    }

</script>