@using BExIS.Web.Shell.Areas.RBM.Models.Resource;

@model List<ResourceManagerModel>

<table id="resourceTable" class="display" width="100%">
    <thead>
        <tr>
            <th>
                Name
            </th>

            <th>
                Description
            </th>
            <th>
                Select
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <span id="chooseResource" class="bx bx-grid-function bx-add" onclick="ChooseResource(@item.Id, '@item.Name', '@item.Index')"></span>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('#resourceTable').DataTable();

    });


</script>