@using Telerik.Web.Mvc.UI
@model BExIS.Web.Shell.Areas.RBM.Models.ResourceStructure.FileValueModel
@using BExIS.Web.Shell.Areas.RBM.Helpers;

@using (Html.BeginCollectionItem("FileValueModel"))
{
    <tr>
    <td>@Html.DisplayFor(m =>m.AttributeName) 
        @Html.HiddenFor(m=>m.ResourceAttributeUsageId)
        @Html.HiddenFor(m=>m.Id)
    </td>
   
        @*@if (Model.Name != null)
        {
            <td>
           @Model.Name
            </td>
        }

    @if(@Model.EditMode == true)
    {*@
    <td>
    @(Html.Telerik().Upload()
      .Name("file")
      .Multiple(false)
      .ShowFileList(false)
      .HtmlAttributes(new {title="Browse"})
      .ClientEvents(events =>
          events
          .OnSuccess("SelectFile_OnSuccess")
          .OnRemove("SelectFile_OnRemove")
       )
       .Async(async => async
          .Save("SaveFileTemp", "Resource", new { area = "RBM", id = Model.ResourceAttributeUsageId })
          .AutoUpload(true))

     )
        <div id="fileNameDiv">
            @if (Model.Name != null)
            {
                @Model.Name @Html.ActionLink(" ", "DeleteFile", "Resource", new { area = "RBM", id = @Model.Id }, new { @class = "bx-trash bx-function" })
            }
            </div>
        </td>
    @*}
    else
    {
        @Html.DisplayFor(m=>m.Name)
    }*@
        
        </tr>
        <tr>
            <td>
                Confirmation File:
            </td>
            <td>@Html.CheckBoxFor(m => m.NeedConfirmation, new { @Key = Model.AttributeName, OnChange = "control_OnChange(this)" })</td>
        </tr>
}

<script type="text/javascript">

    function SelectFile_OnSuccess(e) {
        $('#fileNameDiv').text(e.files[0].name);
    }

    function SelectFile_OnRemove(e) {

        //$('#fileNameDiv').empty();
    }

</script>