@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Resource;

@model List<ResourceManagerModel>


@section Information
{
    With this interface you are able to manage (e.g. create, edit, delete) resources which can be booked.
    <p>
        <a href="/RBM/Help/Index/#_Toc434570750" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}

<link href="@Url.Content("~/Areas/RBM/Stylesheets/RBM.css")" rel="stylesheet" type="text/css" />

@Html.ActionLink("Create Resource", "Create", "Resource", new { @class = "bx-button function", title="Create a new Resource" })
<br /><br />

      <table id="resourcesTable" class="display" width="100%">
          <thead>
              <tr>
                  <th>
                      Id
                  </th>

                  <th>
                      Name
                  </th>
                  <th>
                      Resource Structure Name
                  </th>
                  <th>
                      Quantity
                  </th>
                  <th>
                      Description
                  </th>
                  <th>
                      Actions
                  </th>
              </tr>
          </thead>
          <tbody>
              @foreach (var item in Model)
              {
                  <tr>
                      <td>@item.Id</td>
                      <td>@item.Name</td>
                      <td>@item.ResourceStructureName</td>
                      <td>@item.Quantity</td>
                      <td>@item.Description</td>
                      <td>
                          @if (item.InUse)
                          {
                              <span class="bx bx-grid-function bx-show" onclick="OnClickShowDetails('' + @item.Id + '')"></span>
                              <div class="bx bx-grid-function bx-edit bx-disabled" disabled="disabled" title='Edit Resource "@item.Name"'></div>
                              <div class="bx bx-grid-function bx-trash bx-disabled" disabled="disabled" title='Delete Resource "@item.Name"'></div>
                          }
                          else
                          {
                              <span class="bx bx-grid-function bx-show" onclick="OnClickShowDetails('' + @item.Id + '')"></span>
                              <div class="bx bx-grid-function bx-edit" onclick="OnClickEdit('' + @item.Id + '')" title='Edit Resource "@item.Name"'></div>
                              <div class="bx bx-grid-function bx-trash bx-disabled" disabled="disabled" title='Delete Resource "@item.Name"'></div>

                          }
                      </td>
                  </tr>
              }
          </tbody>
      </table>



@(Html.Telerik().Window()
    .Name("Window_Details")
    .Title("Resource Details")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style = "overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px" })
    .Content(@<text>
        <div id="Content_Show"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Details_OnClose")
    )
)

<script type="text/javascript">

    $(document).ready(function () {
         $('#resourcesTable').DataTable();

    });

    function onConfirm(id) {
        if (confirm("Are you sure you want to delete the Resource?")) {
            OnClickDelete(id);
        }
        else {
            return false;
        }
    }

function OnClickEdit(id) {

    $.get('@Url.Action("Edit", "Resource", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {

        window.location.href = 'Edit/' + id;
        });
    }

    function OnClickDelete(id) {
        $.get('@Url.Action("Delete", "Resource", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {

            refreshGrid();
        });
    }

    function OnClickShowDetails(id) {
        $.get('@Url.Action("ShowDetails", "Resource", new RouteValueDictionary { { "area", "RBM" } })', { id: id }, function (data) {

            $('#Content_Show').html(data);
            var window = $('#Window_Details').data('tWindow');
            window.center().open();

        });
    }

    function Window_Details_OnClose() {
        $('#Content_Show').empty();
    }

   </script>